<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584741062649-27pf8ns62k4a3qmg4rncm68cbjfcqrs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584741062649-27pf8ns62k4a3qmg4rncm68cbjfcqrs2</string>
	<key>API_KEY</key>
	<string>AIzaSyAxRM1H4CJCJGrcTW9oeg9ayBicOCWitzA</string>
	<key>GCM_SENDER_ID</key>
	<string>584741062649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hibank.testapp</string>
	<key>PROJECT_ID</key>
	<string>hi-bank-test-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hi-bank-test-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584741062649:ios:648fa9a044ad6462791f28</string>
</dict>
</plist>